@charset "UTF-8";
.alert {
  background-color: #ffdede;
  width: 400px;
  margin: 30px auto;
  border: 1px solid #cc6767;
  border-radius: 5px;
}

.alert__text {
  color: #ad4343;
}

a {
  color: #5a5a5a;
  text-decoration: none;
}

.form {
  width: 500px;
  height: 800px;
  margin: 20px auto;
}

.form__body {
  background-color: white;
  text-align: center;
}

.form__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__btn {
  background-color: #45b345;
  margin: 20px auto;
  padding: 5px;
  border: 1px solid #45b345;
  border-radius: 5px;
  color: white;
}

.form__text {
  text-align: center;
}

.form__rink {
  color: green;
}

.input-group {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 10px auto;
  padding: 5px;
}

.input-group__icon {
  color: gray;
  padding: 5px;
  border-right: 1px solid lightgray;
}

.memo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 18px;
}

.memo-list {
  width: 25%;
  border-right: 1px solid #b6b6b6;
}

.memo-list__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.memo-list__title {
  font-size: 1.3rem;
  margin: 10px 0;
}

.memo-list__item {
  padding: 10px 0;
  border-bottom: 1px solid #b6b6b6;
}

.memo-menu {
  text-align: right;
}

/* 右側 */
.memo-input {
  width: 70%;
  margin-left: 10px;
}

.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input__menu {
  text-align: right;
}

.input__title {
  font-size: 1.3rem;
}

/* ボタン */
.btn {
  padding: 12px;
  border-radius: 5px;
  color: white;
  margin-right: 5px;
}

.plus, .save {
  background-color: #199419;
}

.sign-out {
  background-color: #404640;
}

.trash {
  background-color: #dd2626;
}
