.form {
  width: 500px;
  height: 800px;
  margin: 20px auto;

  &__body {
    background-color: white;
    text-align: center;
  }

  &__input {
    display: flex;
    flex-direction: column;
  }

  &__btn {
    background-color: #45b345;
    margin: 20px auto;
    padding: 5px;
    border: 1px solid #45b345;
    border-radius: 5px;
    color: white;
  }

  &__text {
    text-align: center;
  }

  &__rink {
    color: green;
  }

}

.input-group {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 10px auto;
  padding: 5px;

  &__icon {
    color: gray;
    padding: 5px;
    border-right: 1px solid lightgray;
  }
}