.memo {
  display: flex;
  margin-top: 18px;
}

.memo-list {
  width: 25%;
  border-right: 1px solid rgb(182, 182, 182);

  &__top {
    display: flex;
    justify-content: space-around;
  }

  &__title {
    font-size: 1.3rem;
    margin: 10px 0;
  }

  &__item {
    padding: 10px 0;
    border-bottom: 1px solid rgb(182, 182, 182);
    display: flex;
    flex-direction: column;
  }

  &__btn {
    display: flex;
  }

  .icon {
    display: flex;
    flex-direction: column;
  }

  .item-content {
    margin: 0 5px;
    padding: 5px 5px 20px 5px;
  }

  .content-top {
    display: flex;
    justify-content: space-between;
  }

  .content-text {
    font-size: 12px;
  }

  .active {
    background-color: #317CF6;
    color: white;
  }

}

.no-info {
  text-align: center;
  color: rgb(102, 162, 218);
}

.memo-menu {
  text-align: right;
}



/* 右側 */

.memo-input {
  width: 70%;
  margin-left: 10px;
}

.input {
  display: flex;
  flex-direction: column;

  &__menu {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    color: white;
  }

  &__title {
    font-size: 1.3rem;
  }
}


/* ==================== アイコン ここから ==================== */
.btn {
  padding: 12px;
  margin-right: 5px;
  border-radius: 5px;
  color: white;
  text-align: center;
}

.plus, .save {
  background-color: rgb(25, 148, 25);
}

.sign-out {
  background-color: rgb(64, 70, 64);
}

.trash {
  background-color: rgb(221, 38, 38);
}

.hover-menu {
  display: none;
  padding: 3px;
  margin-top: 5px;
  font-size: 10px;
  background-color: gray;
  color: white;
  border-radius: 5px;
  position: fixed;
  top: 0;
}

.open {
  display: block;
}
/* ==================== アイコン ここまで　　==================== */